* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Oxygen', sans-serif;
}

.light {
    font-weight: 300;
}

.bold {
    font-weight: 700;
}

.main-color {
    color: #02baab;
}

.main-color-bckgr {
    background: #02baab;
}

.centered a,
.btn0,
.btn1 {
    transition: .3s;
}


/* header */

.line {
    background: black;
    padding: 10px 0 1px 0;
}

.line,
.search input {
    color: #85939f;
}

.line ul li {
    display: inline-block;
    float: right;
    color: #626c75;
}

.search {
    border: 1px solid #434a50;
    float: left;
    position: relative;
}

.search img {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
}

.search input {
    background: transparent;
    border: none;
    padding: 0 0 0 12px;
}

.login {
    padding-right: 36px;
}

.login-or-register a {
    color: inherit;
    font-size: 12px;
}

.line-2 {
    background: #474747;
}

.line-2 ul {
    list-style-type: none;
    margin-bottom: 0;
}

.line-2 ul,
.active,
.centered a:hover,
h1 span,
.btn0:hover,
.arrow,
.small-article h2,
.h2p p,
.line-3,
.sec-06 h3,
.abs p {
    color: #fff;
}

.line-2 li {
    display: inline-block;
    border-top: 10px solid #ffae00;
    width: 100px;
    line-height: 60px;
    margin: 0 -2px;
}

.line-2 li:nth-of-type(2) {
    border-top-color: #fc7100;
}

.line-2 li:nth-of-type(3) {
    border-top-color: #e51c5e;
}

.line-2 li:nth-of-type(4) {
    border-top-color: #ae0f8d;
}

.line-2 li:nth-of-type(5) {
    border-top-color: #6d0fae;
}

.line-2 li:nth-of-type(6) {
    border-top-color: #33227a;
}

.line-2 li:nth-of-type(7) {
    border-top-color: #0c8fcc;
}

nav ul {
    vertical-align: middle;
    float: right;
}

.logo {
    float: left;
}

.navb a {
    font-size: 12px;
    text-transform: uppercase;
    color: inherit;
    display: block;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

.navb a:hover {
    color: black;
}


/* section 1 */

.navb {
    padding: 0px;
    display: inline-block;
}

.btns {
    width: 305px;
    margin: 0 auto;
}

.icon {
    display: none;
}

a.icon {
    color: #02baab;
}

.centered {
    background: url("../images/vnl.jpg") no-repeat center;
    background-size: cover;
    padding: 18.22vw 0 14.06vw 0;
}

.centered h1 {
    font-size: 60px;
}

.centered a {
    width: 135px;
    font-size: 12px;
    text-transform: uppercase;
    border: 3px solid #02baab;
    line-height: 40px;
    display: inline-block;
    color: #fff;
}

.centered a:hover {
    border: 3px solid #02baab;
    background: transparent;
    color: #02baab;
}

.centered a:nth-of-type(1) {
    margin-right: 30px;
}

.centered h1 {
    margin: 0 0 100px 0;
}


/* section 2 */

.text1 {
    background: #fff;
    margin: 100px 0 100px 0;
}

.bit-of-text h2::after {
    content: "";
    display: block;
    height: 5px;
    width: 50px;
    background: #eeeeee;
}

.btn0 {
    text-transform: uppercase;
    border: 3px solid #02baab;
    background: #ffff;
    width: 135px;
    font-size: 10px;
    display: inline-block;
    line-height: 35px;
}

.btn0:hover {
    border: 3px solid #02baab;
    background: #02baab;
}


/* section 3 */

.small-article {
    background: #525252;
}

.h2p {
    max-width: 750px;
    margin: 0 auto;
}

.small-article h2 {
    font-size: 36px;
    padding-top: 100px;
}

.small-article h2::after {
    content: "";
    display: block;
    height: 5px;
    width: 50px;
    background: #ffffff;
}

.bit-of-text h2::after,
.small-article h2::after,
.sec-02 h2::after,
.sup h2::after {
    margin: 30px auto 0 auto;
}

.h2p p {
    font-size: 18px;
    margin: 50px 0 50px 0;
}

.images-pack {
    padding: 0 0 115px 0;
}

.island {
    margin-bottom: 30px;
    width: 100%;
}

.relative:hover .abs {
    opacity: 1;
}

.relative {
    position: relative;
}

.abs {
    opacity: 0;
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
    height: 18.421%;
    background: #3d3d3d;
}

.abs p {
    text-align: left;
    font-size: 14px;
    padding: 6px 0 6px 10px;
}

.abs span {
    font-size: 11px;
}

.text1 h2 {
    font-size: 36px;
}

.text1 p {
    font-size: 18px;
    margin: 50px 0 50px 0;
}

.text1 h2,
.text1 p {
    color: #3b4954;
}


/* section 4 */

.line-3 div h2 {
    font-size: 20px;
    display: inline-block;
}

.btn1 {
    text-transform: uppercase;
    border: 3px solid white;
    width: 165px;
    margin: 50px 0 0 60px;
    line-height: 35px;
    color: inherit;
    display: inline-block;
    font-size: 10px;
}

.btn1:hover {
    border: 3px solid white;
    background: #ffff;
    color: #02baab;
}


/* section 5 */

.sup {
    padding: 3.90vw 0 4.68vw 0;
}

.sup h2 {
    font-size: 36px;
    margin: 0 0 80px 0;
}

.text-on-the-right p {
    font-size: 14px;
}

.text-on-the-right h3 {
    font-size: 24px;
}

.text-on-the-right {
    max-width: 370px;
    margin: 0 auto;
}

.text-on-the-right img,
.text-on-the-right h3 {
    display: inline-block;
}

.bit-of-text {
    max-width: 750px;
    margin: 0 auto;
}


/* sec-06 */

.sec-06 {
    background: url("../images/snowflakes.jpg") no-repeat center center;
    background-size: cover;
    padding: 5.20vw 0 5.20vw;
}

.sec-06>div {
    max-width: 34.895vw;
    margin: 0 auto;
}

.sec-06 i {
    font-size: 36px;
}

.sec-06 h3 {
    font-size: 24px;
    margin-top: 50px;
}

.sec-06 h4 {
    text-transform: uppercase;
    font-size: 14px;
}


/* sec-07 */

.sec-07 h2 {
    color: #3b4954;
    font-size: 36px;
    padding: 100px 0 100px 0;
}

.sec-07 h2::after,
.sup h2::after {
    content: "";
    display: block;
    height: 5px;
    width: 50px;
    margin: 20px auto 0 auto;
    background: #eeeeee;
}

.txt-arrange {
    max-width: 302px;
    border-bottom: 1px solid #c3c3c3;
    margin-bottom: 130px;
}

.txt-arrange p {
    font-size: 14px;
    color: #555555;
}

.txt-arrange p:nth-of-type(2) {
    color: #3b4954;
}

.txt-arrange a:visited,
.comments-icon:visited {
    color: #6d0fae;
}

.txt-arrange a {
    font-size: 14px;
}

.txt-arrange i {
    font-size: 14px;
    margin-left: 170px;
}

.txt-arrange a,
.txt-arrange p {
    display: inline-block;
}


/* sec-08 */

.sec-08 {
    padding: 100px 0 105px 0;
}

.sec-08 h3 {
    color: #fff;
    font-size: 36px;
}

.sec-08 h3::after {
    content: "";
    display: block;
    height: 5px;
    width: 50px;
    background: #fff;
    margin: 30px auto 50px auto;
}

.radius_i {
    position: absolute;
    top: 50%;
    left: -15%;
    color: #fff;
    font-size: 70px;
    transform: translateY(-50%);
}

.radius_i2 {
    position: absolute;
    top: 50%;
    right: -15%;
    color: #fff;
    font-size: 70px;
    transform: translateY(-50%);
}

.circle .col-lg-4 {
    padding-top: 50px;
}

.radius_pic {
    position: relative;
}

.radius_pic svg {
    fill: transparent;
    transform: rotate(-90deg);
}

.radius_dash1 .radius_circle2 {
    stroke-dasharray: 1000;
    stroke-dashoffset: 500;
    animation: animated 2s ease infinite alternate;
}

.radius_dash2 .radius_circle4 {
    stroke-dasharray: 1000;
    stroke-dashoffset: 615;
    animation: animated1 2s ease infinite alternate;
}

.radius_dash3 .radius_circle6 {
    stroke-dasharray: 1000;
    stroke-dashoffset: 435;
    animation: animated2 2s ease infinite alternate;
}

.radius_pic img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.radius_text {
    max-width: 215px;
    margin: 0 auto;
}

.radius_text p {
    font-size: 37px;
    color: #ffff;
    line-height: 24px;
}

.circle span {
    font-size: 18px;
}


/* sec-09 */

.sec-09 {
    padding-top: 100px;
    padding-bottom: 100px;
    background: #fff;
}

.sec-09 h3 {
    font-size: 36px;
}

.sec-09 h3::after {
    height: 5px;
    width: 50px;
    content: "";
    display: block;
    background: #eeee;
    margin: 30px auto 0;
}

.our_info {
    border: 2px solid #eeee;
    margin-top: 50px;
    height: 380px;
    width: 100%;
    background: url("../images/210x280.jpg");
    background-size: cover;
    position: relative;
    overflow: hidden;
    margin-bottom: 6.770vw;
}

.our_info2 {
    height: 220px;
    background: #fff;
    width: 100%;
    position: absolute;
    bottom: 0;
    transition: 1s;
}

.our_a a {
    text-transform: uppercase;
    font-size: 9px;
    display: block;
    height: 40px;
    width: 136px;
    border: solid 2px #02baab;
    line-height: 36px;
    margin: 15px auto 32px;
    position: relative;
    display: block;
    transition: 0.3s;
    background: #fff;
}

.our_a a:hover {
    background: #02baab;
    text-decoration: none;
    color: #fff;
}

.our_info:hover .our_info2 {
    overflow: hidden;
    height: 100px;
    transition: 0.3s;
}

.our_info:hover .info_window {
    opacity: 0;
    transition: 0.3s;
}

.our_info:hover .info_p {
    opacity: 0;
    transition: 0.3s;
}

.our_info:hover .our_a {
    transform: translateY(-100px);
    left: 50%;
    transition: 0.3s;
    overflow: hidden;
}

.info_window {
    border: solid 1px #cccc;
    background: #fff;
    height: 60px;
    width: 136px;
    position: absolute;
    top: -30px;
    transform: translateX(-50%);
    left: 50%;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info_window p {
    font-size: 11px;
    font-weight: 200;
    margin-bottom: 0px;
    /* margin-top: 10px;
margin-bottom: 5px; */
}

.info_window p:nth-child(1) {
    color: #02baab;
    margin-bottom: 5px;
}

.info_window p:nth-child(2) {
    color: #3b4954;
}

.info_p {
    margin: 60px 30px 5px 30px;
    font-size: 11px;
}


/* footer */

footer {
    background: #1f2a32;
}

footer h3 {
    padding: 74px 0 50px 0;
    color: #fff;
    border-top: 15px solid #7827a9;
    margin: 0 -15px;
    padding-left: 15px;
}

.footer-h3-2 {
    border-top-color: #0c8fcc;
}

.footer-h3-3 {
    border-top-color: #de1c5c;
}

.footer-h3-4 {
    border-top-color: #ffae00;
}

footer p {
    font-size: 9px;
    color: #fff;
    margin-bottom: 40px;
}

footer span {
    color: #4f5b65;
}

footer i {
    font-size: 13px;
}

footer i,
footer p {
    display: inline-block;
}

.get-in-touch {
    max-width: 200px;
}

footer .row .google-map {
    margin-bottom: 100px;
}

.footer-bottom-p {
    margin-bottom: 60px;
    max-width: 236px;
}

.latest-tweets {
    max-width: 208px;
}

.follow-us i {
    font-size: 50px;
    color: #3b5998;
}

.follow-us .tweet {
    color: #00a0d1;
}

.follow-us .youtube {
    color: #c4302b;
}

.follow-us .insta {
    color: #825c48;
}

.follow-us .pin {
    color: #a30834;
}

.follow-us p {
    vertical-align: middle;
    margin-left: 20px;
}


/* add a different margin-bottom on some paragraphs */

.footer-col4-div-p {
    margin-bottom: 15px;
    display: block;
}

.popular-posts>a {
    border: 2px solid #02baab;
    /* padding: 12px 13px 16px 16px; */
    position: absolute;
    bottom: 50px;
    left: 90px;
    height: 50px;
    width: 196px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popular-posts>a i {
    margin-left: 5px;
    /* position: absolute;
top: 50%;
right: 5px;
transform: translate(-50%, -50%);  */
}

.footer-col4-div {
    margin-bottom: 40px;
    max-width: 200px;
}

.footer-col4-div a {
    font-size: 9px;
}

footer a {
    color: #02baab;
}

footer a:hover {
    color: #02baab;
}


/*media queries*/

@media screen and (max-width:1200px) {
    /* large lg */
    .island {
        max-width: 300px;
    }
    .popular-posts>a {
        left: 25px;
    }
}

@media screen and (max-width:992px) {
    /* medium md*/
    .navb {
        opacity: 0;
        height: auto;
        width: 240px;
        position: absolute;
        right: 0;
        top: 53px;
        background: #474747;
        z-index: 1;
        pointer-events: none;
        transition: 0.25s ease;
    }
    .responsive {
        opacity: 1;
        pointer-events: all;
    }
    .logo {
        display: none;
    }
    .icon {
        display: block;
        position: absolute;
        font-size: 36px;
        left: 20px;
        top: 53px;
        z-index: 1;
    }
    .line-2 li {
        display: block;
        margin: 0 auto;
        border-top: 0px;
        border-left: 7px solid #ffae00;
        line-height: 45px;
        text-align: left;
        width: 100%;
        padding-left: 7px;
    }
    .line-2 li:nth-of-type(2) {
        border-left-color: #fc7100;
    }
    .line-2 li:nth-of-type(3) {
        border-left-color: #e51c5e;
    }
    .line-2 li:nth-of-type(4) {
        border-left-color: #ae0f8d;
    }
    .line-2 li:nth-of-type(5) {
        border-left-color: #6d0fae;
    }
    .line-2 li:nth-of-type(6) {
        border-left-color: #33227a;
    }
    .line-2 li:nth-of-type(7) {
        border-left-color: #0c8fcc;
    }
    .txt {
        margin: 2rem 0 0 0;
    }
    .btn1 {
        margin: 0 0 0 0;
        width: 135px;
    }
    .col-lg-4-div {
        width: 290px;
        margin: 0 auto;
    }
    .sec-06>div {
        max-width: 66.895vw;
    }
    .radius_i,
    .radius_i2 {
        display: none;
    }
    footer {
        padding-bottom: 50px;
    }
    .popular-posts>a {
        position: static;
    }
}

@media screen and (max-width:768px) {
    /* small sm*/
    .centered h1 {
        font-size: 30px;
        margin-bottom: 45px;
    }
    .btn1 {
        margin: 30px 0 0 0;
    }
    .h2p p {
        margin: 20px 0px 30px 0px;
    }
    .pb-5,
    .py-5 {
        padding-bottom: 2rem!important;
    }
    .centered a {
        width: 115px;
        font-size: 11px;
        line-height: 30px;
    }
    .centered a:nth-of-type(1) {
        margin-right: 10px;
    }
    .our_info {
        max-width: 300px;
        margin: 20px auto 30px auto;
    }
    .sup {
        padding: 2rem 0 2rem 0;
    }
    .sup h2 {
        margin: 0 0 15px 0;
    }
    .sec-06 h3 {
        margin-top: 20px;
    }
    .sec-07 h2 {
        padding: 2rem 0 2rem 0;
    }
    .small-article h2 {
        padding-top: 40px;
    }
    .images-pack {
        padding: 0 0 20px 0;
    }
    .text1 {
        margin: 50px 0 50px 0;
    }
    .text1 p {
        margin: 10px 20px 15px 20px;
    }
    .bit-of-text h2::after,
    .small-article h2::after,
    .sec-07 h2::after,
    .sec-08 h3::after,
    .sec-09 h3::after {
        margin: 10px auto 0 auto;
    }
    .popular-posts>a {
        padding: 10px 10px 10px 14px;
        font-size: 15px;
    }
    .sec-08 {
        padding: 25px 0 20px 0;
    }
    .sec-08 h3 {
        margin-bottom: 20px;
    }
    .circle .col-lg-4 {
        padding-top: 0;
    }
    .sec-09 {
        padding-top: 30px;
        padding-bottom: 25px;
    }
}


/* @media screen and (max-width: 575px) {
    footer h3 {
        margin-left: 5px;
    }


} */

@media screen and (max-width:560px) {
    /* extra small */
    /* .images-pack {
padding: 0 0 100px 0;
} */
    .login {
        padding-right: 5px;
    }
    .search input {
        width: 120px;
    }
    .btns {
        width: 280px;
    }
    .btns a {
        width: 120px;
        background: #02baab;
    }
    .text1 h2,
    .line-3 div h2,
    .small-article h2,
    .sec-07 h2,
    .sec-08 h3,
    .sec-09 h3,
    footer h3,
    .sup h2 {
        font-size: 28px;
    }
    .text1 p,
    .h2p p {
        font-size: 16px;
    }
    .line-3 {
        margin: 0 0 0 0px;
    }
    .text1 {
        margin-bottom: 30px;
    }
    .bit-of-text {
        margin-bottom: 50px;
    }
    .sec-06 h3 {
        font-size: 18px;
    }
    .sec-06 h4 {
        font-size: 12px;
    }
    .text-on-the-right h3 {
        font-size: 16px;
    }
    .txt-arrange {
        margin-bottom: 40px;
    }
}

@media screen and (max-width:320px) {
    .search input {
        width: 120px;
    }
}

@keyframes animated {
    0% {
        stroke-dashoffset: 1000
    }
    100% {
        stroke-dashoffset: 500
    }
}

@keyframes animated1 {
    0% {
        stroke-dashoffset: 1000
    }
    100% {
        stroke-dashoffset: 615
    }
}

@keyframes animated2 {
    0% {
        stroke-dashoffset: 1000
    }
    100% {
        stroke-dashoffset: 435
    }
}